.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: white;
  opacity: 0.9;
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  z-index:95;
}

.navbar a {

  position: relative;
  left: -450px;
  top: 2px;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;


}

.navbar2 {
  overflow: hidden;
  background-color: #31CB9B;
  opacity: 0.9;
  position: relative;
  top: 0;
  width: 100%;
  height: 10%;
  z-index:95;
}

.navbar2 a {

  position: relative;
  left: -450px;
  top: 2px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;


}

.main {
  padding: 50px;
  margin-top: 30px;

  height: 1500px; /* Used in this example to enable scrolling */
}

.button {
    background-color: #31CB9B; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 450px;
    left: 510px;
      z-index:99;
}

.button1 {
    background-color: #31CB9B;
    color: white;
    width: 20%;
    position: absolute;
    top: 450px;
    left: 510px;
      z-index:99;
}

.button1:hover {
    background-color: #23906d;
    color: white;
    position: absolute;
    top: 450px;
    left: 510px;
      z-index:99;
}

.img-container{
  width:100%;
  height: 700px;
  background-image: url("http://ak4.picdn.net/shutterstock/videos/6554474/thumb/1.jpg") ;
  background-attachment: fixed;
  background-size: cover;
}


.img-body-container{
  width:100%;
  height: 100%;
  content: url("https://i.imgur.com/kJc3u3Y.png") ;

}

.layer {
    background-color: rgba(7, 7, 7, 0.6);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1;
}

.logo {
  position: absolute;
  content: url("https://i.imgur.com/myKKltd.png");
  top:18px;
  left: 25px;
  width: 6%;
  height: 9%;
  z-index:99;
}

.logo2 {
  position: absolute;
  content: url("https://i.imgur.com/myKKltd.png");
  top:18px;
  left: 25px;
  width: 6%;
  height: 9%;
  z-index:99;
  background-color: white;

}

.bottom {
  z-index:98;
}

h1.banner{
  position: absolute;
  top:245px;
  left: 325px;
  width: 50%;
  height: 50%;
  color: white;
  z-index:99;
  font-size: 55px;
}

p.banner{
  position: absolute;
  top:350px;
  left: 325px;
  width: 50%;
  height: 50%;
  color: white;
  z-index:99;
  font-size: 18px;
}

h2.banner{
  position: fixed;
  float: left;
  font-size: 38px;
  opacity: 0.2;
  padding-left: 115px;
  padding-top: 10px;
}

.w3-container.w3-green.w3-round {
  position: relative;
  width: 200px;
  height: 100%;
  font-size: 60px;
  background-color: #31CB9B
}

.w3-light-grey.w3-round{
  position: relative;
  margin-left: 300px;
  width: 50%;
  height: 100px;
  text-shadow: 1px 1px black
}

.progress-left{
  position: absolute;
  left: 800px;
  top: 170px;
  opacity: 0.3;
  font-size: 40px;
  z-index:99;
}

h1.grey-header{
  opacity: 0.2;

}

.form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

div.banner{
  height: 50%;
  width:75%;
  margin-left: 12%;
}

div.inputs{
  height: 20%;
  width:75%;
  margin-left: 12%;
}
